{% extends 'base.html' %}
{% block content %}
<body>
<div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">Latest Blog Post</h1>
        <hr class="w-25 mx-auto bg-primary">
    </div>
    {% for post in object_list %}
    <div class="row g-5">
        <div class="col-lg-4">
            <div class="blog-item">
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid" src="{{post.image.url}}" alt="">
                </div>
                <div class="bg-secondary d-flex">
                    <div class="flex-shrink-0 d-flex flex-column justify-content-center text-center bg-primary text-white px-4">
                        <span>01</span>
                        <h5 class="text-uppercase m-0">Jan</h5>
                        <span>2045</span>
                    </div>
                    <div class="d-flex flex-column justify-content-center py-3 px-4">
                        <div class="d-flex mb-2">
                            <small class="text-uppercase me-3"><i class="bi bi-person me-2"></i>Admin</small>
                            <small class="text-uppercase me-3"><i class="bi bi-bookmarks me-2"></i>{{ post.title }}</small>
                        </div>
                        <a class="h4" href="">{{post.body}}</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
        {% endfor %}
{% endblock content %}